@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;

}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}

nav {
    display: flex;
    background-color: #5F0100;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    margin-bottom: 20px;
}

nav a{
    color: wheat;
    text-decoration: none;
    font-size: 1.5em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.search-container button,input {
    padding: 8px;
    font-size: 1em;
}